@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: block;
    font-weight: 300;
    src: url(@fontsource/roboto/files/roboto-latin-300-normal.woff2) format('woff2'), url(@fontsource/roboto/files/roboto-latin-300-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "arial", "Roboto";
}

/*d3.js labuitslag rasterlijnen*/
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
}

.epi-chart .card-header {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.epi-chart .card>.card-header:first-of-type {
    border-top: 0
}

.epi-chart .card>div .card-header:first-of-type {
    border-radius: 0
}

.card-body {
    position: relative;
    min-height: 300px;
}

canvas,
.graph {
    position: relative;
    z-index: 1;
    background-color: #FFF;
}

.nav-item.active>a:first-child {
    font-weight: bold;
}

#wrapper {
    margin-bottom: 41px;
}

.iframe {
    margin: 1rem auto;
}

nav,
footer {
    background-color: rgba(248, 249, 250);
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.modal-body {
    background-color: #f5f2f0;
}

#growChart {
    height: 600px;
}