/*d3.js labuitslag rasterlijnen*/
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
}

.card-body {
    position: relative;
    min-height: 300px;
}

canvas,
.graph {
    position: relative;
    z-index: 1;
    background-color: #FFF;
}

.nav-item.active>a:first-child {
    font-weight: bold;
}

.container.iframe {
    margin: 75px auto 60px;
}

nav,
footer {
    backdrop-filter: blur(10px);
    background-color: rgba(248, 249, 250, 0.6);
    margin-right: 17px;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}