/*d3.js labuitslag rasterlijnen*/
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/*tabs voor chart.js groei curves*/
#tabs {
    display: flex;
    justify-content: space-around;
    background-color: #fdf1d4;
}

.tab {
    background-color: inherit;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.tab:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
    font-weight: bold;
}

/*afdruk button*/
#printChartBtn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    margin: 1rem 1.5rem 0 1.5rem;
    font-weight: bold;
    font-size: 13px;
}